form { padding: 0px; margin: 0px; }
input, select, textarea { font-family: 'Kanit', sans-serif; font-size: 14px; background-color: #F5F5F5; padding: 8px; border-radius: 5px; outline: 0px; border: 1px solid #C0C0C0; transition: 0.3s; }
input:hover, select:hover, textarea:hover { background-color: #FFF; transition: 0.3s; }
input:focus, select:focus, textarea:focus { background-color: #FFF; outline: 3px solid #C00000; }
input:focus ~ .identityIcon, input:focus ~ .passwordIcon { color: #C00000; }
.longField { width: 100%; box-sizing: border-box; }
.longFieldMarginUnder { width: 100%; box-sizing: border-box; margin-bottom: 12px; }
.fieldIconFloater { width: 100%; box-sizing: border-box; position: relative;  margin-bottom: 12px; display: block; }
.identityField { padding-left: 38px; width: 100%; box-sizing: border-box; }
.passwordField { padding-left: 38px; width: 100%; box-sizing: border-box; }
.identityIcon { position: absolute; left: 12px; top: 10px; z-index: 10; font-size: 20px; color: #404040; }
.passwordIcon { position: absolute; left: 12px; top: 10px; z-index: 10; font-size: 20px; color: #404040; }
.passwordToggleIcon { position: absolute; top: 10px; right: 10px; z-index: 10; font-size: 20px; }
.checkboxLabel { display: inline-block; position: relative; padding-left: 35px; margin-bottom: 12px; cursor: pointer; font-size: 16px; font-weight: bold; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkboxLabel input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }
.checkmark { position: absolute; top: 0; left: 0; height: 20px; width: 20px; background-color: #eeeeee; border-radius: 5px; }
.checkboxLabel input:focus ~ .checkmark { outline: 5px solid #C0C0C0; }
.checkboxLabel:hover input ~ .checkmark { background-color: #cccccc; }
.checkboxLabel input:checked ~ .checkmark { background-color: #C00000; }
.checkmark:after { content: ""; position: absolute; display: none; }
.checkboxLabel input:checked ~ .checkmark:after { display: block; }
.checkboxLabel .checkmark:after { left: 6px; top: 4px; width: 4px; height: 6px; border: solid white; border-width: 0 4px 4px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.checkboxDesc { font-size: 13px !important; color: #808080 !important; font-weight: normal !important; } 
.radioLabel { display: inline-block; position: relative; padding-left: 35px; margin-bottom: 12px; cursor: pointer; font-size: 16px; font-weight: bold; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.radioLabel input { position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; }
.radiomark { position: absolute; top: 0; left: 0; height: 25px; width: 25px; background-color: #eeeeee; border-radius: 50%; }
.radioLabel:hover input ~ .radiomark { background-color: #cccccc; }
.radioLabel input:checked ~ .radiomark { background-color: #C00000; }
.radiomark:after { content: ""; position: absolute; display: none; }
.radioLabel input:checked ~ .radiomark:after { display: block; }
.radioLabel .radiomark:after { top: 9px; left: 9px; width: 8px; height: 8px; border-radius: 50%; background-color: #FFFFFF; }
.signInOptionsFlex { display: flex; margin-top: 20px; }
.signInOptionsLeft { display: flex; flex-grow: 1; align-items: center; justify-content: left; flex-wrap: nowrap; }
.signInOptionsRight { display: flex; flex-grow: 1; align-items: center; justify-content: right; flex-wrap: nowrap; }
input[type=submit] { color: #FFF; font-weight: 300; transition: 0.3s; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; background-color: #404040; font-size: 18px; cursor: pointer; }
input[type=submit]:hover { color: #FFF; transition: 0.3s; background-color: #000; }